page {
  --td-button-primary-bg-color: #FBD65B;
  --td-button-primary-border-color: #FBD65B;
  --td-button-primary-active-border-color: #E5B847;
  --td-button-primary-active-bg-color: #E5B847;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 68px;

    .content {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .help-icon {
        padding: 48px;
        color: #888;
      }
    }
  }
}